<ion-header>
  <ion-navbar color="primary">
    <ion-title>Se Connecter</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-page">
  <div class="content">
    <img class="profils" src="assets/imgs/monlogo.png" alt="">
    <br>
    
    <div class="phone-number">
      <ion-col>
        <ion-select [(ngModel)]="currentCallingCode" okText="Valider" cancelText="Annuler" interface="popover">
          <ion-option [value]="item.callingCodes[0]" (ionSelect)="listenCode($event)"
                      *ngFor="let item of countries">
            {{item.alpha2Code + " (+" + item.callingCodes[0] + ")"}}
          </ion-option>
        </ion-select>
      </ion-col>
      
      <input-element
        [libelle]="'Numéro de téléphone'"
        [type]="'text'"
        (outputValue)="getPhone($event)">
      </input-element>
    </div>

    <input-element
      [libelle]="'Mot de passe'"
      [type]="'password'"
      (outputValue)="getPassword($event)">
    </input-element>

    <p class="show-error-dom" *ngIf="error != null"> Login et/ou mot de passe incorrect! </p>

    <div padding-left padding-right padding-top>
      <a style="float: right" tappable (click)="alertForgotPassword()">Mot de passe oublié ?</a>
    </div>

    <div class="create-account">
      <input id="login" type="button" value="SE CONNECTER" tappable (click)="login()">
      <input id="signup" type="button" value="S'INSCRIRE" tappable (click)="signup()">
    </div>
  </div>
</ion-content>
