<ion-header>
  <navbar [title]="'Profil'"></navbar>
</ion-header>

<ion-content padding>
  <div class="logologin" (click)="openDialogChangePhoto()">
    <img class="logo" [src]="imageaafficher != null ? imageaafficher : 'assets/imgs/user.jpg'">
    
    <p class="textelogin">Change Picture </p>
  </div>
  
  <p *ngIf="internalerror === 1" style="color: red; font-weight: bold">{{internalemesage}}</p>
  <div class="content">
    <show-date
      [initValue]="debut_dernieres_menstrues"
      [libelle]="'Date de dernières règles'"
      (outputDate)="dateDeDernieresRegles($event)">
    </show-date>
    <p *ngIf="errorpath != null && errorpath.account.hasOwnProperty('debut_dernieres_menstrues')" style="color: red">{{errorpath.account.debut_dernieres_menstrues[0]}}</p>
    
    <show-date
      [initValue]="date_naissance"
      [libelle]="'Date de naissance'"
      (outputDate)="dateDeNaissance($event)">
    </show-date>
    <p *ngIf="errorpath != null && errorpath.account.hasOwnProperty('date_naissance')" style="color: red">{{errorpath.account.date_naissance[0]}}</p>
    
    <input-element
      [libelle]="'Pseudonyme'"
      [type]="'text'"
      [initValue]="user != null ? user.username : null"
      (outputValue)="getUsername($event)">
    </input-element>
    <p *ngIf="errorpath != null && errorpath.account.hasOwnProperty('username')" style="color: red">{{errorpath.account.username[0]}}</p>
    
    <input-element
      [libelle]="'Numéro de téléphone'"
      [type]="'text'"
      [initValue]="user != null ? user.phone : null"
      (outputValue)="getPhone($event)">
    </input-element>
    <p *ngIf="errorpath != null && errorpath.account.hasOwnProperty('phone')" style="color: red">{{errorpath.account.phone[0]}}</p>
  </div>
  
  <div style="padding-left: 50px; padding-right: 50px;">
    <ion-row>
      <ion-col class="ion-col-1">
        <ion-label>Diabète</ion-label>
        <ion-checkbox [checked]="patient != null && patient.diabete" color="dark"
                      [(ngModel)]="object.diabete"></ion-checkbox>
      </ion-col>
      <ion-col class="ion-col-1">
        <ion-label>HTA</ion-label>
        <ion-checkbox [checked]="patient != null && patient.hta" color="dark"
                      [(ngModel)]="object.hta"></ion-checkbox>
      </ion-col>
      <ion-col class="ion-col-1">
        <ion-label>Drépano</ion-label>
        <ion-checkbox [checked]="patient != null && patient.drepano" color="dark"
                      [(ngModel)]="object.drepano"></ion-checkbox>
      </ion-col>
    </ion-row>
  </div>
  
  <ion-row>
    <ion-col col-12>
      <input-element
        [libelle]="'Age des premières règles'"
        [type]="'text'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.age_premiere_regle : null"
        (outputValue)="getAgePremiereRegle($event)"
      ></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Durée des seignements'"
        [type]="'text'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.duree_saignement : null"
        (outputValue)="getDureeSaignement($event)"
      ></input-element>
    </ion-col>
    
    <ion-col col-12>
      <input-element
        [libelle]="'Durée du cycle régulier'"
        [type]="'text'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.duree_cycle : null"
        (outputValue)="getDureeCycle($event)"
      ></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Cycle Regulier'"
        [type]="'checkbox'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.cycle_regulier : null"
        (outputValue)="getCycleRegulier($event)"></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Douleur pendant les règles'"
        [type]="'checkbox'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.douleur_regle : null"
        (outputValue)="getDouleur($event)"></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Nombre de grossesse'"
        [type]="'number'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.nombre_grossesse : null"
        (outputValue)="getNombreGrossesse($event)"
      ></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Nombre de prématurés'"
        [type]="'text'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.nombre_premature : null"
        (outputValue)="getNombrePremature($event)"
      ></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Nombre de fausses couches ou avortement'"
        [type]="'text'"
        [direction]="'row'"
        [initValue]="patient != null ? patient.nombre_fosse_couche : null"
        (outputValue)="getNombreFosseCouche($event)"
      ></input-element>
    </ion-col>
    <ion-col col-12>
      <input-element
        [libelle]="'Nombre denfant vivant'"
        [type]="'text'" [direction]="'row'"
        [initValue]="patient != null ? patient.nombre_enfant_vivant : null"
        (outputValue)="getNombreEnfantVivant($event)"
      ></input-element>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button ion-button color="primary" (click)="updateProfile()" clear icon-right>
    <h5 *ngIf="modeSelectedExist">Suivant
      <ion-icon name="arrow-forward"></ion-icon>
    </h5>
    <h5 *ngIf="!modeSelectedExist">Mettre à jour</h5>
  </button>
</ion-footer>
