input-element {
  color: white;

  @mixin comp($direction, $content) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $content;
    margin-top: 15px;

    ion-input {
      margin-top: 10px;
      background-color: color($colors, primary);
      font-size: 16px;
      border-radius: 20px;
      padding: 0;
      text-align: center;
    }
  }

  .row-direction {
    @include comp(row, center)
  }

  .column-direction {
    @include comp(column, space-between)
  }
}
