<div class="column-direction" *ngIf="direction == 'column'">
  <div class="libelle">{{libelle}}</div>
  
  <ion-input [value]="_initValue" *ngIf="type != 'checkbox' && type != 'number'"
             [type]="type" [style.width]="widthComponentInput"
             (ionChange)="inputChange($event)"></ion-input>
  
  <ion-input [value]="_initValue" *ngIf="type == 'number'" [type]="type"
             [style.width]="widthComponentInput"
             (ionChange)="inputChange($event)" [min]="min" [max]="min"></ion-input>
  
  <ion-checkbox [checked]="_initValue" color="dark" *ngIf="type == 'checkbox'"
                (ionChange)="inputChange($event)"></ion-checkbox>
</div>

<div class="row-direction" *ngIf="direction == 'row'">
  <ion-col col-6 class="libelle" *ngIf="textPosition == 'left'">{{libelle}}</ion-col>
  
  <ion-col col-6>
    <ion-input [value]="_initValue" *ngIf="type != 'checkbox' && type != 'number'"
               [type]="type" [style.width]="widthComponentInput"
               (ionChange)="inputChange($event)"></ion-input>
  
    <ion-input [value]="_initValue" *ngIf="type == 'number'" [type]="type"
               [style.width]="widthComponentInput"
               (ionChange)="inputChange($event)" [min]="min" [max]="min"></ion-input>
    
    <ion-checkbox [checked]="_initValue" color="dark" *ngIf="type == 'checkbox'"
                  (ionChange)="inputChange($event)"></ion-checkbox>
  </ion-col>
  
  <ion-col col-6 class="libelle" *ngIf="textPosition == 'right'">{{libelle}}</ion-col>
</div>
