page-img7 {
  ion-footer {
    background-color: #fcf366;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    h5 {
      font-weight: 900;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    h3 {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
    }

    h5 {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 20px;
      text-align: center;
    }

    ion-card {
      background: radial-gradient(circle at top, #e4e4e4 80%, color($colors, primary));

      border-top: 15px solid color($colors, primary);
      border-radius: 10px;
    }

    ion-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;

      .triangle {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 7px solid color($colors, primary);
      }
    }

    .order {
      color: white;
      text-align: center;
      font-size: 17px;
      margin-top: 20px;
    }
  }
}
