page-mesbonmoment {

    .mafleche{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;
    }

    .monbody{
        background-color: #e3e3e3;
    }

    .titles{
        font-weight: 600;
    }

    .ladate{
        font-style: italic;
    }

    .empty {
        text-align: center;
        font-size: large;
        padding-top: 13rem;
      }
}
