page-sign-up {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-align: center;
    width: 100%;
    
    .phone-number {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      ion-select {
        margin-top: 3.5rem;
        background-color: #eb5350;
        color: white;
        font-size: 12px;
        border-radius: 20px;
        text-align: center;
        padding-left: 15px;
        width: inherit;
        height: 4.5rem;
        max-width: none;
      }
    }
    
    input-element {
      width: inherit;
    }
    
    show-date {
      width: inherit;
    }
    
    .error {
      width: inherit;
      color: red;
      font-weight: 700;
      margin: 0;
      padding: 0;
      background-color: white;
    }
    
    .create-account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      width: inherit;
      
      .libelle {
        width: 90%;
      }
      
      input {
        color: color($colors, input-text);
        margin-top: 10px;
        background-color: color($colors, secondary);
        border: 1px solid color($colors, secondary);
        width: inherit;
        font-size: 15px;
        border-radius: 20px;
        padding: 8px;
      }
    }
  }
}
