page-profil {
  ion-label {
    text-align: center;
  }
  
  .logo {
    width: 150px;
    width: 50%;
    margin-top: 20px;
  }
  .logologin {
    background-color: #eb5350;
  }
  .textelogin {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0%;
    text-align: center;
  }
  
  .ion-col-1 {
    color: color($colors, libelle-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  ion-footer {
    background-color: #fcf366;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
    h5 {
      font-weight: 900;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    
    input-element {
      width: inherit;
    }
    
    show-date {
      width: inherit;
    }
    
    .error {
      width: 70%;
      color: red;
      font-weight: 700;
      margin: 0;
      padding: 0;
      background-color: white;
    }
    
    .create-account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      width: 70%;
      
      .libelle {
        width: 90%;
      }
      
      input {
        margin-top: 10px;
        background-color: color($colors, secondary);
        border: 1px solid color($colors, secondary);
        width: 100%;
        font-size: 15px;
        border-radius: 20px;
        padding: 8px;
      }
    }
  }
}
