page-profil {
  ion-label {
    text-align: center;
  }

  .ion-col-1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ion-footer {
    background-color: #fcf366;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    h5 {
      font-weight: 900;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    width: 100%;

    input-element {
      width: 70%;
    }

    .error {
      width: 70%;
      color: red;
      font-weight: 700;
      margin: 0;
      padding: 0;
      background-color: white;
    }

    .create-account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      width: 70%;

      .libelle {
        width: 90%;
      }

      input {
        margin-top: 10px;
        background-color: color($colors, secondary);
        border: 1px solid color($colors, secondary);
        width: 100%;
        font-size: 15px;
        border-radius: 20px;
        padding: 8px;
      }
    }
  }
}
