<ion-header>
  <navbar [title]="'Evènement'"></navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="form != null">
    <form [formGroup]="form" (submit)="submit()">
      <ion-list no-margin no-padding>
        <ion-item>
          <ion-label color="primary" floating>Date de début</ion-label>
          <ion-datetime text-left [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="dateStart" (ionChange)="listenChangeDate($event, 'start')"
                        displayFormat="DD MMM, YYYY"></ion-datetime>
        </ion-item>
        
        <ion-item>
          <ion-label color="primary" floating>Date de fin</ion-label>
          <ion-datetime text-left [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="dateEnd" (ionChange)="listenChangeDate($event, 'end')"
                        displayFormat="DD MMM, YYYY"></ion-datetime>
        </ion-item>
        
        
        <ion-item>
          <ion-label color="primary" floating>Titre</ion-label>
          <ion-input text-left formControlName="name" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label color="primary" floating>Description</ion-label>
          <ion-textarea text-left formControlName="description" rows="4" maxLength="300"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="form != null">
    <button ion-button clear tappable (click)="submit()" full [disabled]="!form.valid">Valider</button>
  </div>
</ion-footer>
