<!--
  Generated template for the TimelinetestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <navbar [title]="'Calendrier'"></navbar>
</ion-header>


<ion-content class="monbody">
  <ion-card class="question">
    <ion-row class="montext">
      Grossesse
    </ion-row>
  </ion-card>

  <ion-card class="question2">
    <ion-row class="montext2">
      <ion-col col-3>Consultation</ion-col>
      <ion-col col-3>Soins</ion-col>
      <ion-col col-3>TAF</ion-col>
      <ion-col col-3>Bilan Recommandé</ion-col>
    </ion-row>
  </ion-card>

  <ion-scroll style="width: 100%; height: 150px; overflow-x: scroll;" scrollX="true" scrollY="false">
    <ion-card *ngFor="let item of items">
      <ion-card-header>
        {{item.title}}
      </ion-card-header>
      <ion-card-content>
        {{item.content}}
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <timeline endIcon="call">
    <timeline-item *ngFor="let item of items">
      <timeline-time [time]="item.time"></timeline-time>
      <ion-icon [name]="item.icon"></ion-icon>
          <ion-card class="cardspecial">
              <ion-card-header>
                {{item.title}}
              </ion-card-header>
              <ion-card-content>
                {{item.content}}
              </ion-card-content>
          </ion-card>
    </timeline-item>
  </timeline>


  <ion-infinite-scroll (ionInfinite)="doInfiniteBottom($event)" threshold="2%">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
