<ion-header>
  <navbar [title]="'Changer le mot de passe'"></navbar>
</ion-header>

<ion-content padding class="bg-page">
  <div class="content">
    <input-element
      [libelle]="'Ancien mot de passe'"
      [type]="'password'"
      (outputValue)="getCurrentPassword($event)">
    </input-element>
    <p *ngIf="errorpath === 'current_password'" style="color: red">{{errormessage}}</p>
    
    <input-element
      [libelle]="'Nouveau mot de passe'"
      [type]="'password'"
      (outputValue)="getPassword($event)">
    </input-element>
    <p *ngIf="errorpath === 'plainPassword.first'" style="color: red">{{errormessage}}</p>
  
    <input-element
      [libelle]="'Repétez le mot de passe'"
      [type]="'password'"
      (outputValue)="getRepeatPassword($event)">
    </input-element>
  
    <p class="error" *ngIf="error == null && showError != null"> {{showError.message}} </p>
  
    <div class="create-account">
      <input type="button" value="Valider"  tappable  (click)="submit()">
    </div>
  </div>
</ion-content>
