<ion-header>
  <ion-navbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="content">
    
    
    <show-date
      [libelle]="'Veuillez entrer la date de vos dernières règles'"
      (outputDate)="dateLastMentruation($event)">
    </show-date>

    <!--<show-date
      [libelle]="'Ou votre date d accouchement'">
    </show-date>-->

    <input-element
      [libelle]="'Durée Menstrues'"
      [type]="'number'"
      (outputValue)="getDurationMenstruation($event)">
    </input-element>

    <input-element
      [libelle]="'Email'"
      [type]="'email'"
      (outputValue)="getEmail($event)">
    </input-element>
    <p class="error"
       *ngIf="error != null && error.email.errors != undefined">
      {{error.email.errors[0]}}
    </p>

    <input-element
      [libelle]="'Mot de passe'"
      [type]="'password'"
      (outputValue)="getPassword($event)">
    </input-element>
    <p class="error"
       *ngIf="error != null && error.plainPassword.children.first.errors != undefined">
      {{error.plainPassword.children.first.errors[0]}}
    </p>

    <input-element
      [libelle]="'Repetez le mot de passe'"
      [type]="'password'"
      (outputValue)="getRepeatPassword($event)">
    </input-element>

    <p class="error" *ngIf="error == null && showError != null"> {{showError.message}} </p>

    <div class="create-account">
      <div class="libelle">Pour profiter d'une prise en charge complète, veuillez</div>
      <input type="button" value="CREER UN COMPTE" (click)="signUp()">
    </div>
  </div>
</ion-content>
