page-flux-regle {
    .question{
        border-radius: 17px; 
        height: 85px;
    }

   .question2{
        border-radius: 17px; 
        height: 85px;
        margin-top: 20px;  
    }
    .question3{
        border-radius: 17px; 
        height: 230px;
        margin-top: 20px;
    }

    

   .monbuton{
        margin-top: 15px;
        height: 25px;
        width: 80px;
        border-radius: 17px;
        border: 2px solid red;
        background-color: #fff;
        margin-left: 30px;
   }
   .montext{
        margin-left: 30px;
   }
   .montext2{
       margin-left: 55px;
   }

   .montext3{
    margin-left: 30px;   
   }

   .lecorps{
       background-color:rgb(239, 247, 247);
   }

   .monselect{
        margin-top: 15px;
        border-radius: 17px;
        height: 25px;
        width: 220px;
        border-radius: 17px;
        border: 2px solid red;
        background-color: #fff;
        margin-left: 30px;
   }

   .b1jour1{
        margin-left: 15px;
        height: 25px;
        width: 50px;
        border-radius: 10px;
        background-color: #f20000;
    }

    .b1imjour1{
        margin-left: 15px;
        height: 20px;
        width: 50px;
        border-radius: 10px;
        margin-top: 1px;
    }

    .b1jour2{
        margin-left: 15px;
        height: 25px;
        width: 50px;
        border-radius: 10px;
        background-color: #f75b5f;
    }
    
    .b1jour3{
        margin-left: 15px;
        height: 25px;
        width: 50px;
        border-radius: 10px;
        background-color: #fcbbbd;
    }

   .lignejour1{
        margin-top: 30px;
    }

   .lignejour2{
        margin-top: 10px;
    }

    .lignejour3{
        margin-top: 10px;
    }

   .moncheckbox{
       margin-left: 5px;
       margin-top: 35px;
       
   }

   .moncheckboxtext{
       margin-left: 15px;
       
   }

   .monsuivant{
      margin-left: 200px;
      font-size: bold;
   }

   .monfooter{
       background-color: #f5ff28;
   }

   

   
   
}
