
<ion-header>
  <navbar [title]="'Paramètres'"></navbar>
</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="primary" class="bold">{{'parametre_utilisateur' | translate}}</ion-item-divider>
    
    <ion-item *ngIf="defaultLang != null">
      <ion-label>{{'langue_affichage' | translate}}</ion-label>
      <ion-select [(ngModel)]="defaultLang" cancelText="Annuler" okText="OK" (ionChange)="listenLangChange($event)" interface="popover">
        <ion-option *ngFor="let item of langs" [value]="item.code">{{item.label | translate}}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item *ngIf="defaultLang != null">
      <ion-label>{{'langue_audio' | translate}}</ion-label>
      <ion-select [(ngModel)]="defaultLang" cancelText="Annuler" okText="OK" (ionChange)="listenLangChange($event)" interface="popover">
        <ion-option *ngFor="let item of langs" [value]="item.code">{{item.label | translate}}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item *ngIf="defaultMode != null">
      <ion-label>Mode</ion-label>
      <ion-select [(ngModel)]="defaultMode" cancelText="Annuler" okText="OK" (ionChange)="listenModeChange($event)" interface="popover">
        <ion-option *ngFor="let item of modes" [value]="item.code" [disabled]="!item.enabled">{{item.intitule}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider color="primary" class="bold">Autres</ion-item-divider>
  </ion-item-group>
  
  <ion-item-group>
    <button tappable (click)="closeAccount()" ion-button clear icon-only icon-right style="font-size: 1rem;">
      Supprimer mon compte
    </button>
  </ion-item-group>
</ion-content>
