// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  //color: white;
  //background: url('/assets/imgs/background.jpg') no-repeat;
  //background-size: cover;
}

//.content-md {
//  background-color: #e4e4e4;
//}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#triangle {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid color($colors, primary);
  cursor: pointer;
}

img.img-menu {
  height: 30px;
  border: 0;
}

ion-navbar {
  border-bottom: 3px solid #c82a21;
}

.bg-page {
  background-color: #e4e4e4;
  background-image: none;
}

// Customize ScrollBar
//::-webkit-scrollbar {
//  width: 14px; /* for vertical scrollbars */
//  height: 14px; /* for horizontal scrollbars */
//}
//
//::-webkit-scrollbar-track {
//  border-radius: 10px;
//  background-color: transparent;
//}
//
//::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//  background-color: darkred;
//  background-image: -webkit-linear-gradient(90deg,
//    transparent,
//    rgba(0, 0, 0, 0.1) 100%,
//    transparent,
//    transparent)
//}

hr {
  border-top: 1px solid white;
}

.show-error-dom {
  color: white;
  background: darkred;
  border-radius: 5px;
  padding: 2px;
  font-size: 9px;
  text-align: center;
  width: fit-content;
}


