<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color: #e4e4e4; background-image: none;">
    <!--<ion-list no-lines no-border no-padding>-->
      <!--<button menuClose ion-item icon-start *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--<ion-icon color="primary"><img [src]="'./assets/icon/' + p.icon + '.png'" alt="" width="16" height="16"></ion-icon>-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->

    <ion-grid>
      <ion-row menuClose *ngFor="let p of pages" (click)="openPage(p)" style="display: table; padding: 10px; cursor: pointer;">
        <ion-col col-2>
          <img [src]="'./assets/icon/' + p.icon + '.png'" alt=""
               style="max-width: 100px;" class="img-menu">
        </ion-col>
        <ion-col style="display: table-cell; vertical-align: middle; padding-left: 15px; font-weight: 600;">
          {{p.title}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
