<ion-header>
  <navbar [title]="'Calendrier'"></navbar>
</ion-header>

<ion-content padding>
  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
    <h5>Contraception</h5>
  </div>

  <div class="calendar-header">
    <ion-row class="calendar-weekday">
      <ion-col>DIM</ion-col>
      <ion-col>LUN</ion-col>
      <ion-col>MAR</ion-col>
      <ion-col>MER</ion-col>
      <ion-col>JEU</ion-col>
      <ion-col>VEN</ion-col>
      <ion-col>SAM</ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <!--<ion-icon name="arrow-back"></ion-icon>-->
      </ion-col>
      <ion-col col-8 class="currentMonth">{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <!--<ion-icon name="arrow-forward"></ion-icon>-->
      </ion-col>
    </ion-row>

    <!--<ion-grid swipeAll (swiperight)="goToLastMonth()" (swipeleft)="goToNextMonth()">-->
    <ion-grid>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" (click)="goToLastMonth()">
          <span class="last-month" *ngIf="lastDay.color == 'white'">
            {{lastDay.day}}
          </span>
          <span class="event" [style.background-color]="lastDay.color"
                *ngIf="lastDay.color != 'white'">
            {{lastDay.day}}
          </span>
        </ion-col>

        <ion-col col-1 *ngFor="let item of daysInThisMonth" (click)="selectDate(item)">
          <span class="event" [style.background-color]="item.color"
                *ngIf="currentDate != item.day && item.color != 'white'">
            {{item.day}}
          </span>
          <div *ngIf="item.color == 'white'">
            <span class="currentDate"
                  *ngIf="currentDate === item.day; else otherDate">
              {{item.day}}
            </span>
            <ng-template #otherDate class="otherDate">{{item.day}}</ng-template>
          </div>
        </ion-col>

        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" (click)="goToNextMonth()">
          <span class="next-month" *ngIf="nextDay.color == 'white'">
            {{nextDay.day}}
          </span>
          <span class="event" [style.background-color]="nextDay.color"
                *ngIf="nextDay.color != 'white'">
            {{nextDay.day}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="showpreviousnext">
      <ion-row (click)="goToLastMonth()">{{previousMonth | slice:0:3}}.</ion-row>
      <ion-row (click)="goToThisMonth()"
               *ngIf="today != undefined && date != undefined && today.getDate() != date.getDate()">Today.
      </ion-row>
      <ion-row (click)="goToNextMonth()">{{nextMonth | slice:0:3}}.</ion-row>
    </ion-grid>
  </div>
</ion-content>
