page-pilulier {
  ion-input {
    margin-top: 10px;
    background-color: color($colors, primary);
    color: color($colors, whitecolor);
    font-size: 16px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    padding-left: 15px;
    width: 160px;
    height: 40px;
  }
  
  .text-input[disabled] {
    opacity: 10;
  }
  
  ion-select {
    margin-top: 10px;
    background-color: color($colors, primary);
    color: color($colors, whitecolor);
    font-size: 14px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    padding-left: 15px;
    width: 160px;
    height: 40px;
    max-width: none;
  }
  
  ion-footer {
    background-color: #fcf366;
  }
  
  .monbody {
    background-color: #e3e3e3;
  }
  .text {
    float: right;
  }
  
  //.monimput {
  //  background-color: #fff;
  //  width: 160px;
  //  height: 35px;
  //  margin-top: 10px;
  //}
  
  //.monimput2 {
  //  background-color: #fff;
  //  width: 160px;
  //  height: 35px;
  //  margin-top: 10px;
  //}
  
  .monicon {
    margin-left: 25px;
    margin-top: 20px;
    
  }
  
  .maligne {
    margin-top: 5px;
  }
  
  //.monselect {
  //  margin-top: 10px;
  //  height: 40px;
  //  background-color: #fff;
  //}
  
  .question {
    width: 100%;
    height: 45px;
    margin-left: 0px;
    margin-top: 0px;
    
  }
  .montext {
    text-align: center;
    color: #ff0026;
    font-weight: bold;
  }
  
  .supercard {
    height: 4px;
    background-color: #ff0026;
    margin-top: -10px;
    width: inherit;
  }
  
  .supercard2 {
    height: 4px;
    background-color: #ff0026;
    margin-top: -10px;
    width: inherit;
  }
  
  .supercard3 {
    height: 4px;
    background-color: #ff0026;
    margin-top: -10px;
    width: inherit;
  }
  
  .show-buttons-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  ion-spinner * {
    width: 30px;
    height: 30px;
    stroke: #444;
    fill: #222;
  }
  
  .msg-danger {
    border: 2px solid #ff0026;
    background-color: #ff0026;
    padding: 5px;
    color: white;
  }
  
  .msg-warning {
    border: 2px solid orange;
    background-color: orange;
    padding: 5px;
    color: white;
  }
}
