<ion-header>
  <navbar [title]="'Pilulier'"></navbar>
  
  <ion-toolbar no-padding no-margin>
    <div class="question">
      <ion-row class="montext">
        <ion-col (click)="gotoOnglet_0()">Nouveau traitement</ion-col>
        <ion-col (click)="gotoOnglet_1()">Traitements en cours</ion-col>
        <ion-col (click)="gotoOnglet_2()">Traitements terminés</ion-col>
      </ion-row>
    </div>
    
    <ion-row no-border no-margin no-padding no-lines>
      <ion-col>
        <div class="supercard" *ngIf="onglet==0"></div>
      </ion-col>
      <ion-col>
        <div class="supercard2" *ngIf="onglet==1"></div>
      </ion-col>
      <ion-col>
        <div class="supercard3" *ngIf="onglet==2"></div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="monbody">
  <div *ngIf="onglet==0">
    <div *ngIf="part==1">
      <div [ngStyle]="{'display': showSpinner ? 'inline-flex' : 'flex'}"
           style="flex-direction: row; align-items: center; justify-content: space-between">
        <ion-searchbar (ionInput)="getMedicaments($event)" showCancelButton="true" animated="true"
                       placeholder="Entrez le nom du médicament" (ionCancel)="cancelSearchbar($event)">
        </ion-searchbar>
        
        <ion-spinner name="crescent" *ngIf="showSpinner"></ion-spinner>
      </div>
      
      <div padding>
        <ion-list>
          <ion-item *ngFor="let item of listMedicaments" (click)="selectMedicament(item)">
            {{ item.name }}
          </ion-item>
        </ion-list>
      </div>
    </div>
    
    <div *ngIf="part==2">
      <form [formGroup]="form" (submit)="addTreatment()" (reset)="cancel()">
        <ion-row>
          <ion-col>
            <p class="text">Non du médicament</p>
          </ion-col>
          <ion-col>
            <ion-input class="monimput" disabled type="text" formControlName="name"></ion-input>
          </ion-col>
        </ion-row>
        
        <ion-row class="maligne">
          <ion-col>
            <p class="text">Fréquence de prise</p>
          </ion-col>
          <ion-col>
            <ion-select class="monselect" #select formControlName="frequencePrise" okText="Valider"
                        cancelText="Annuler">
              <ion-option [value]="item.key" *ngFor="let item of frequencesPrise">{{item.value}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        
        <ion-row class="maligne">
          <ion-col>
            <p class="text">Durée du traitement (Jr)</p>
          </ion-col>
          <ion-col>
            <ion-input class="monimput" type="number" formControlName="dureeTraitement"></ion-input>
          </ion-col>
        </ion-row>
        
        <ion-row class="maligne">
          <ion-col col-6>
            <p class="text">Date de début</p>
          </ion-col>
          <ion-col col-4 (click)="datePicker.open()">
            <ion-input class="monimput2" disabled="true" type="text" formControlName="dateDebutTraitement"></ion-input>
          </ion-col>
          <ion-col col-2 (click)="datePicker.open()">
            <ion-icon class="monicon" color="whitecolor" ios="ios-calendar" md="md-calendar"></ion-icon>
          </ion-col>
        </ion-row>
        
        <ion-datetime #datePicker text-center
                      (ionChange)="dateDebutTraitementChanged($event)"
                      hidden="true" [(ngModel)]="dateDebutTraitement"
                      [ngModelOptions]="{standalone: true}">
        </ion-datetime>
        
        <ion-row class="maligne">
          <ion-col col-6>
            <p class="text">Horaire de la 1ère prise</p>
          </ion-col>
          <ion-col col-4 (click)="timePicker.open()">
            <ion-input class="monimput" disabled="true" type="text" formControlName="horaireFirstPrise"></ion-input>
          </ion-col>
          <ion-col col-2 (click)="timePicker.open()">
            <ion-icon class="monicon" color="whitecolor" ios="ios-calendar" md="md-calendar"></ion-icon>
          </ion-col>
        </ion-row>
        
        <ion-datetime #timePicker text-center pickerFormat="HH mm"
                      (ionChange)="heureDebutTraitementChanged($event)"
                      hidden="true" [(ngModel)]="heureDebutTraitement"
                      [ngModelOptions]="{standalone: true}">
        </ion-datetime>
        
        
        <ion-row class="maligne">
          <ion-col>
            <p class="text">Evaluation de l'observance ?</p>
          </ion-col>
          <ion-col>
            <ion-select class="monselect" okText="Valider" cancelText="Annuler">
              <ion-option value="oui" selected>Oui</ion-option>
              <ion-option value="non">Non</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        
        <!--<button ion-button (click)="part = 1;" *ngIf="this.currentTreatment == null">-->
        <!--<ion-icon name="arrow-back"></ion-icon>-->
        <!--</button>-->
        <!---->
        <!--<button style="border-radius:50px; height: 60px; float: right; margin-top: 10% " bottom right ion-button-->
        <!--type="submit" [disabled]="!form.valid">-->
        <!--{{currentTreatment == null ? 'Add' : 'Upd'}}-->
        <!--</button>-->
      </form>
    </div>
  </div>
  
  <div *ngIf="onglet==1">
    <div *ngIf="treatments.length == 0 && !startProcessGet" class="empty">
      Pas de traitement en cours.
    </div>
    
    <div *ngFor="let item of treatments">
      <ion-card>
        <ion-card-content>
          <div style="display:flex;justify-content: space-between;align-items: center;flex-direction: row;">
            <div>
              <h4 style="font-size: x-large;">{{item.name}}</h4>
              <h6>Créée le {{item._embedded.date_creation}}</h6>
            </div>
            
            <button icon-only ion-button clear (click)="presentPopover($event, item)">
              <ion-icon name="more"></ion-icon>
            </button>
          </div>
        </ion-card-content>
        
        <ion-card-content>
          Durée: {{item.duree_traitement}} Jr(s)<br>
          Date de début: {{convertDatetime(item.date_debut_traitement)}}<br>
          Première prise: {{item.horaire_first_prise}}<br>
          Fréquence de prise: {{getFrequencePrise(item.frequence_prise)}}<br>
        </ion-card-content>
        
        <div *ngIf="item.msg_alert !== undefined && item.msg_alert !== null">
          <ion-card-content [ngClass]="item.msg_alert.status == 'warning' ? 'msg-warning' : 'msg-danger'">
            {{item.msg_alert.msg}}
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  
    <ion-infinite-scroll (ionInfinite)="doInfiniteBottom($event)" threshold="2%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  
  <div *ngIf="onglet==2">
    <div *ngIf="archives.length == 0 && !startProcessGet" class="empty">
      Pas de traitement terminé.
    </div>
    
    <div *ngFor="let item of archives">
      <ion-card>
        <ion-card-content>
          <div style="display:flex;justify-content: space-between;align-items: center;flex-direction: row;">
            <div>
              <h4 style="font-size: x-large;">{{item.name}}</h4>
              <h6>Créée le {{item._embedded.date_creation}}</h6>
            </div>
            
            <!--<button icon-only ion-button clear (click)="presentPopover(item)">-->
            <!--<ion-icon name="more"></ion-icon>-->
            <!--</button>-->
          </div>
        </ion-card-content>
        
        <ion-card-content>
          Durée: {{item.duree_traitement}} Jr(s)<br>
          Date de début: {{convertDatetime(item.date_debut_traitement)}}<br>
          Première prise: {{item.horaire_first_prise}}<br>
          Fréquence de prise: {{getFrequencePrise(item.frequence_prise)}}<br>
        </ion-card-content>
        
        <div *ngIf="item.msg_alert !== undefined && item.msg_alert !== null">
          <ion-card-content [ngClass]="item.msg_alert.status == 'warning' ? 'msg-warning' : 'msg-danger'">
            {{item.msg_alert.msg}}
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>
  
  <!--<ion-fab bottom right class="monsuperbutton" *ngIf="onglet==1">-->
  <!--<button ion-fab (click)="gotoOnglet_0()">-->
  <!--<ion-icon name="add"></ion-icon>-->
  <!--</button>-->
  <!--</ion-fab>-->
</ion-content>

<ion-footer *ngIf="showFooter">
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <button full clear ion-button (click)="part = 1; isShowFooter()"
            *ngIf="onglet == 0 && part == 2 && this.currentTreatment == null">
      <ion-icon name="arrow-back"></ion-icon>
      Retour
    </button>
    
    <button full clear color="secondary" ion-button *ngIf="onglet == 0 && part == 2" tappable [disabled]="!form.valid"
            (click)="addTreatment()">
      <ion-icon name="create"></ion-icon>
      {{currentTreatment == null ? 'Ajouter' : 'Mettre à jour'}}
    </button>
    
    <button full clear color="secondary" ion-button tappable *ngIf="onglet==1" (click)="isShowFooter()">
      <ion-icon name="add"></ion-icon>
      Ajouter un traitement
    </button>
  </div>
</ion-footer>
