page-timelinetest {
  
  .monbody {
    background-color: #e3e3e3;
  }
  
  .question {
    width: 100%;
    height: 30px;
    margin-left: 0px;
    margin-top: 0px;
    
  }
  .montext {
    text-align: center;
    margin-left: 40%;
    padding-top: 9px;
    color: #ff0026;
  }
  
  .question2 {
    width: 100%;
    height: 40px;
    margin-left: 0px;
    margin-top: -11px;
    background-color: #959595;
    
  }
  .montext2 {
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    color: white;
  }
  
  ion-scroll {
    width: 100%;
    height: 180px;
    .scroll-content {
      overflow-x: auto;
      display: flex;
    }
  }
  
  .mondive {
    background-color: #afdcf8;
    width: 120px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
  }
  
  .datecard {
    color: red;
    font-weight: bold;
  }
  
  .titrecard {
    color: blue;
    font-weight: bold;
  }
  
  .vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
  }
}
