<ion-header>
  <navbar [title]="'Calendrier'"></navbar>
</ion-header>


<ion-content class="monbody">
  <ion-card class="question">
    <ion-row class="montext">
      Grossesse
    </ion-row>
  </ion-card>
  
  <ion-card class="question2">
    <ion-row class="montext2">
      <ion-col col-3>Consultation</ion-col>
      <ion-col col-3>Soins</ion-col>
      <ion-col col-3>TAF</ion-col>
      <ion-col col-3>Bilan Recommandé</ion-col>
    </ion-row>
  </ion-card>
  
  
  <timeline endIcon="call" *ngIf="testeur == 0">
    <timeline-item *ngFor="let item of timelines; index as i">
      <timeline-time [time]="item.time"></timeline-time>
      <ion-icon [name]="item.icon" tappable (click)="addEvent()"></ion-icon>
      
      <ion-card>
        <ion-scroll>
          <div style="display: flex; flex-direction: row;">
            <div class="mondive" *ngFor="let item of item.elements">
              <p class="datecard">{{item.time.subTitle}}</p>
              <p>{{item.content}}</p>
              
              
              <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between">
                <!--<button ion-button icon-only small full (click)="selectArticle(item.content, item.description)">-->
                  <!--<ion-icon name="eye"></ion-icon>-->
                <!--</button>-->
                <!--<button *ngIf="item.patient != null" ion-button icon-only small full (click)="updateEvent(item)">-->
                  <!--<ion-icon name="create"></ion-icon>-->
                <!--</button>-->
                <!--<button *ngIf="item.patient != null" ion-button icon-only small full (click)="deleteEvent(item)">-->
                  <!--<ion-icon name="trash"></ion-icon>-->
                <!--</button>-->
  
                <button ion-button icon-only small full (click)="openDialog(item)">
                  Detail
                </button>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-card>
    </timeline-item>
  </timeline>
  
  
  <ion-card *ngIf="testeur == 1">
    <ion-card-content>
      <ion-card-title>
        {{titre}}
      </ion-card-title>
      <p>
        {{description}}
      </p>
    </ion-card-content>
    
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right (click)="goodArticle()">
        <button ion-button clear small color="danger" icon-start (click)="goodArticle()">
          ok
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
  
  <ion-infinite-scroll (ionInfinite)="doInfiniteBottom($event)" threshold="2%">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<ion-fab bottom right>
  <button ion-fab (click)="addEvent()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
