<div class="libelle">{{libelle}}</div>

<div class="show" *ngIf="dateToShow != undefined && dateToShow != null" (click)="datePicker.open()">
  <div class="day">{{dateToShow.day}}</div>
  <div class="month">{{dateToShow.month}}</div>
  <div class="year">{{dateToShow.year}}</div>
</div>

<ion-datetime #datePicker
              text-center
              [min]="min"
              [max]="max"
              (ionChange)="dateChanged($event)"
              displayFormat="DD MMM, YYYY"
              [(ngModel)]="date" hidden="true">
</ion-datetime>
