<ion-header>
  <navbar [title]="'Mes mises à jours'"></navbar>
</ion-header>


<ion-content class="monbody">
  <br><br><br>
  <div *ngIf="form != null">
    <form [formGroup]="form">
      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Poids</p>
        </ion-col>
        <ion-col>
          <ion-input formControlName="poids" class="monimput" type="number" (ionChange)="changeListener(event)"></ion-input>
        </ion-col>
        <ion-col>
          <p class="text2"> kg </p>
        </ion-col>
      </ion-row>
      <ion-row class="maligne validator-error" *ngIf="!form.controls.poids.valid && form.controls.poids.dirty">
        Veuillez entrer un poids valide.
      </ion-row>

      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Taille</p>
        </ion-col>
        <ion-col>
          <ion-input formControlName="taille" class="monimput" type="number" (ionChange)="changeListener(event)"></ion-input>
        </ion-col>
        <ion-col>
          <p class="text2"> m </p>
        </ion-col>
      </ion-row>
      <ion-row class="maligne validator-error" *ngIf="!form.controls.taille.valid && form.controls.taille.dirty">
        Veuillez entrer un taille valide.
      </ion-row>

      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Taux d'hémoglobine</p>
        </ion-col>
        <ion-col>
          <ion-input formControlName="taux_hemoglobine" class="monimput" type="number" (ionChange)="changeListener(event)"></ion-input>
        </ion-col>
        <ion-col>
          <p class="text2"> g/dl </p>
        </ion-col>
      </ion-row>
      <ion-row class="maligne validator-error" *ngIf="!form.controls.taux_hemoglobine.valid && form.controls.taux_hemoglobine.dirty">
        Veuillez entrer un Taux d'hémoglobine valide.
      </ion-row>

      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Tension artérielle</p>
        </ion-col>
        <ion-col>
          <ion-input formControlName="tension_arterielle" class="monimput" type="number" (ionChange)="changeListener(event)"></ion-input>
        </ion-col>
        <ion-col>
          <p class="text2"> mmHg </p>
        </ion-col>
      </ion-row>
      <ion-row class="maligne validator-error" *ngIf="!form.controls.tension_arterielle.valid && form.controls.tension_arterielle.dirty">
        Veuillez entrer un Tension artérielle valide.
      </ion-row>

      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Glycémie à jeun</p>
        </ion-col>
        <ion-col>
          <ion-input formControlName="gyclemie_a_jeun" class="monimput" type="number" (ionChange)="changeListener(event)"></ion-input>
        </ion-col>
        <ion-col>
          <p class="text2"> g/l </p>
        </ion-col>
      </ion-row>
      <ion-row class="maligne validator-error" *ngIf="!form.controls.gyclemie_a_jeun.valid && form.controls.gyclemie_a_jeun.dirty">
        Veuillez entrer une Glycémie à jeun valide.
      </ion-row>

      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Température vaginale</p>
        </ion-col>
        <ion-col>
          <ion-input formControlName="temperature_vaginale" class="monimput" type="number" (ionChange)="changeListener(event)"></ion-input>
        </ion-col>
        <ion-col>
          <p class="text2"> °C </p>
        </ion-col>
      </ion-row>
      <ion-row class="maligne validator-error" *ngIf="!form.controls.temperature_vaginale.valid && form.controls.temperature_vaginale.dirty">
        Veuillez entrer une Température vaginale valide.
      </ion-row>

      <ion-row class="maligne">
        <ion-col col-6>
          <p class="text">Conclusion du D CPN </p>
        </ion-col>
        <ion-col>
          <ion-select class="monselect" formControlName="conclusion_last_c_p_n" class="monselect">
            <ion-option value="Habituel">Grossesse évolutive</ion-option>
            <ion-option value="Inhabituel">Inhabituel</ion-option>
            <ion-option value="Très abondant">Annormal</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>

<ion-footer class="monfooter">
  <ion-row>
    <ion-col>
      <button class="buttonanuler" (click)="cancel()">Annuler</button>
    </ion-col>
    <ion-col>
      <button class="buttonenregistrer" (click)="submit()">Enregistrer</button>
    </ion-col>
  </ion-row>
  <button></button>
</ion-footer>
