page-miseajour {
  
  ion-input {
    margin-top: 10px;
    background-color: color($colors, primary);
    color: color($colors, whitecolor);
    font-size: 16px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    padding-left: 15px;
    width: 160px;
    height: 40px;
  }
  
  .text-input[disabled] {
    opacity: 10;
  }
  
  ion-select {
    margin-top: 10px;
    background-color: color($colors, primary);
    color: color($colors, whitecolor);
    font-size: 14px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    padding-left: 15px;
    width: 160px;
    height: 40px;
    max-width: none;
  }
  
  .monbody {
    background-color: #e3e3e3;
  }
  
  .text {
    float: left;
    margin-top: 25px;
  }
  
  .text2 {
    float: right;
    margin-top: 26px;
  }
  
  //.monimput {
  //  background-color: #fff;
  //  width: 100px;
  //  height: 35px;
  //  margin-top: 15px;
  //}
  
  .maligne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -18px;
  }
  
  .validator-error {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: red;
  }
  
  //.monselect {
  //  margin-top: 10px;
  //  height: 40px;
  //  background-color: #fff;
  //}
  
  .monfooter {
    background-color: #f5ff28;
    height: 35px;
  }
  .buttonenregistrer {
    float: right;
    background-color: #f5ff28;
    font-size: 18px;
    font-weight: bold;
  }
  .buttonanuler {
    background-color: #f5ff28;
    color: red;
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-footer {
    background-color: #fcf366;
  }
}
