<ion-header>
  <navbar></navbar>
</ion-header>


<ion-content>

  <div padding>

      <ion-card class="carddoleur" *ngIf="testeur == 1">
          <p class="titlecard2"> vous avez un retard de   </p>
          <p class="nombrejours">{{nombrejrretard}} jours </p>  
         
      </ion-card>
  
      <ion-card class="carddoleur" *ngIf="testeur == 2">
          <p class="titlecard2"> vous allez ovuler probablement dans  </p>
          <p class="nombrejours">{{nombrejrovulation}} jours </p>  
          <p class="ladate">cest à dire le {{dateovulation}}</p>
      </ion-card>

      <ion-card class="carddoleur" *ngIf="nombrejrovulation == 3">
            <p class="titlecard2"> attention ! fort risque de conception aujourd’hui </p>
      </ion-card>

      <ion-card class="carddoleur" *ngIf="testeur == 5">
        <p class="titlecard2"> attention ! fort risque de conception aujourd’hui </p>
        <p class="nombrejours">car vous avez probablement ovulé il y’a 1 jours  </p>  
       </ion-card>

       <ion-card class="carddoleur" *ngIf="testeur == 6">
        <p class="titlecard2"> attention ! fort risque de conception aujourd’hui </p>
        <p class="nombrejours">car vous avez probablement ovulé il y’a 2 jours  </p>  
       </ion-card>

      
       
  
      <ion-card class="carddoleur" *ngIf="testeur == 3">
          <p class="titlecard2"> vous allez saigner probablement dans  </p>
          <p class="nombrejours">{{nombrejourseignement}} jours </p>  
          <p class="ladate">cest à dire le {{datesegnement}}</p>
          <p class="ladate" *ngIf="testeurovulation == 1">Vous risquez une grossesse a cette période</p>
      </ion-card>
   
    <hr>
    <h6>Adopter nos conseils en choisissant un des modes suivants:</h6>

  </div>
  <ion-grid *ngFor="let m of modes" class="modes">
      <mode
        [image]="m._embedded.image._embedded.url_photo"
        [libelle]="m.intitule"
        [description]="m.description" (click)="selectMode(m)">
      </mode>
  </ion-grid>
</ion-content>
